.all-product-cards-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    padding: 4rem;
    display: grid;
    padding-left: 0;
    padding-right: 0;
}
