.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 1350px !important; */
    margin-top: 10px;
}

/* .swiper-wrapper {
    width: 1350px !important;
} */

.swiper-button-next,
.swiper-button-prev {
    background-color: rgb(178 252 228);
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
}

.swiper-button-next {
    background-image: url('../src/Assets/Arrow.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    right: 3px !important;
    top: 94px !important;
}

.swiper-button-prev {
    background-image: url('../src/Assets/ArrowLeft.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    left: 2px !important;
    top: 94px !important;
}

.swiper-button-next::after {
    display: none;
}

.swiper-button-prev::after {
    display: none;
}

.swiper-button-prev.swiper-button-disabled {
    display: none;
}

/* @media screen and (max-width: 1036px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
}

@media screen and (max-width: 1036px) {
    .swiper-wrapper {
        width: 1350px !important;
    }

    .swiper-slide {
        width: 1350px !important;
    }
}

@media screen and (max-width: 900px) {
    .swiper-wrapper {
        width: 1200px !important;
    }

    .swiper-slide {
        width: 1200px !important;
    }
}

@media screen and (max-width: 700px) {
    .swiper-wrapper {
        width: 1350px !important;
    }

    .swiper-slide {
        width: 1350px !important;
    }
}

@media screen and (max-width: 820px) {
    .swiper-wrapper {
        width: 1350px !important;
    }

    .swiper-slide {
        width: 1350px !important;
    }
}

@media screen and (max-width: 370px) {
    .swiper-wrapper {
        width: 1350px !important;
    }

    .swiper-slide {
        width: 1350px !important;
    }
} */
